[Service]
Type=oneshot
ExecStart=/srv/railgun/network/start.sh
EnvironmentFile=/etc/railgun/profile
WorkingDirectory=/srv/railgun/network
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
